@font-face {
  font-family: "Bookinsanity";
  src: url("./solbera-dnd-fonts/Bookinsanity/Bookinsanity.otf") format("opentype");
  font-weight: normal; }
@font-face {
  font-family: "Bookinsanity Bold Italic";
  src: url("./solbera-dnd-fonts/Bookinsanity/Bookinsanity Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Bookinsanity Bold";
  src: url("./solbera-dnd-fonts/Bookinsanity/Bookinsanity Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Bookinsanity Italic";
  src: url("./solbera-dnd-fonts/Bookinsanity/Bookinsanity Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Nodesto Caps Condensed";
  src: url("./solbera-dnd-fonts/Nodesto Caps Condensed/Nodesto Caps Condensed.otf") format("opentype");
  font-weight: normal; }
@font-face {
  font-family: "Mr Eaves Small Caps";
  src: url("./solbera-dnd-fonts/Mr Eaves/Mr Eaves Small Caps.otf") format("opentype");
  font-weight: normal; }
@font-face {
  font-family: "Scaly Sans";
  src: url("./solbera-dnd-fonts/Scaly Sans/Scaly Sans.otf") format("opentype");
  font-weight: normal; }
@font-face {
  font-family: "Scaly Sans Bold Italic";
  src: url("./solbera-dnd-fonts/Scaly Sans/Scaly Sans Bold Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Scaly Sans Bold";
  src: url("./solbera-dnd-fonts/Scaly Sans/Scaly Sans Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Scaly Sans Caps Bold";
  src: url("./solbera-dnd-fonts/Scaly Sans Caps/Scaly Sans Caps Bold.otf") format("opentype");
  font-weight: normal; }
@font-face {
  font-family: "Solbera Imitation";
  src: url("./solbera-dnd-fonts/Solbera Imitation/Solbera Imitation.otf") format("opentype");
  font-weight: normal; }
@media print {
  body {
    color: black; }

  a {
    color: black;
    text-decoration: none; }

  .chapter {
    margin: 1.5cm;
    column-gap: 1cm;
    columns: 2 calc(calc(8.5in - 4cm) / 2); }

  @page {
    size: 8.5in 11in; }
  @page :left {
    @bottom-left {
      content: counter(page); } }
  @page :right {
    @bottom-right {
      content: counter(page); } } }
@media screen {
  body {
    color: #111; } }
@media only screen and (max-width: 500px) {
  .chapter {
    margin: 1em; } }
@media only screen and (min-width: 501px) {
  .chapter {
    margin: 1.5cm;
    columns: 2 300px;
    column-gap: 1cm;
    max-width: 11.25in; } }
* {
  box-sizing: border-box; }

body {
  font-family: 'Bookinsanity', serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  counter-reset: chapter; }

.chapter {
  page-break-before: always; }

.chapter h1:before {
  counter-increment: chapter;
  content: counter(chapter) ". "; }

h2, h3, h4, h5 {
  font-family: 'Mr Eaves Small Caps', serif;
  font-variant: small-caps; }

h2, h3, h4, h5, h6 {
  page-break-after: avoid; }

h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 1rem;
  column-span: all; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px;
  border-bottom: 2px solid #777;
  margin-top: 1rem;
  margin-bottom: 2px; }

h5 {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 2px; }

p {
  line-height: 1.4;
  margin: 0; }

p + p {
  text-indent: 1em; }

h2 + p {
  position: relative;
  margin: auto;
  min-height: 7.125em; }

h2 + p::first-letter {
  font-family: 'Solbera Imitation', serif;
  color: #777;
  float: left;
  font-size: 7.125em;
  line-height: 0.8;
  padding-right: 0.3rem; }

h2 + p::first-line {
  font-family: 'Mr Eaves Small Caps', serif;
  font-variant: small-caps;
  font-size: 20px;
  line-height: 1; }

span.subhead {
  font-family: 'Bookinsanity Bold Italic', serif;
  font-weight: bold;
  font-style: italic; }

span.subhead:after {
  content: '.'; }

table {
  width: 100%;
  page-break-inside: avoid;
  font-family: 'Scaly Sans', sans-serif;
  border-collapse: collapse;
  margin: 1rem 0;
  float: right; }
  table caption {
    font-family: 'Scaly Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left; }
  table td, table th {
    padding: 2px 0.4rem; }
  table .bg {
    background-color: #ddd; }
  table .left {
    text-align: left; }
  table .center {
    text-align: center; }
  table .right {
    text-align: right; }
  table .top {
    vertical-align: top; }
  table .middle {
    vertical-align: center; }
  table .bottom {
    vertical-align: bottom; }
  table .subhead {
    font-family: 'Scaly Sans Bold Italic', sans-serif;
    font-weight: bold;
    font-style: italic; }
  table .bold {
    font-family: 'Scaly Sans Bold', sans-serif;
    font-weight: bold; }
  @media only screen and (max-width: 500px) {
    table .columns {
      columns: 2 auto;
      column-gap: 0.5em; } }
  @media only screen and (min-width: 501px) {
    table .columns {
      columns: 9.6em auto;
      column-gap: 0.5em; } }

table.striped > tbody:nth-of-type(odd) {
  background-color: #ddd; }
table.striped > tbody:only-of-type {
  background-color: transparent; }
  table.striped > tbody:only-of-type tr:nth-child(odd) {
    background-color: #ddd; }

ul.simple {
  margin: 0;
  padding: 0 0 0.5em 1em;
  list-style: none;
  white-space: nowrap; }

aside {
  font-family: 'Scaly Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  float: right;
  margin: calc(1em + 16px) 0; }
  aside .title {
    font-family: 'Scaly Sans Caps Bold', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
    margin-top: 0; }
  aside .content {
    padding: 5px 10px;
    background-color: #ddd;
    box-shadow: 1px 4px 14px #888; }
    aside .content p {
      line-height: 1.2; }
  aside .border {
    width: 100%; }
  aside .top:before {
    position: absolute;
    top: -12px;
    left: 0;
    border-top: 11px solid transparent;
    border-right: 24px solid black;
    border-bottom: 1px solid black;
    content: ''; }
  aside .top:after {
    position: absolute;
    top: -12px;
    right: 0;
    border-top: 11px solid transparent;
    border-left: 24px solid black;
    border-bottom: 1px solid black;
    content: ''; }
  aside .top {
    position: relative;
    border-bottom: 3px solid black; }
  aside .bottom:before {
    position: absolute;
    bottom: -12px;
    left: 0;
    border-top: 1px solid black;
    border-right: 24px solid black;
    border-bottom: 11px solid transparent;
    content: ''; }
  aside .bottom:after {
    position: absolute;
    bottom: -12px;
    right: 1px;
    border-top: 1px solid black;
    border-left: 24px solid black;
    border-bottom: 11px solid transparent;
    content: ''; }
  aside .bottom {
    position: relative;
    border-top: 3px solid black; }

.wide {
  column-span: all; }

.normal {
  font-weight: normal;
  font-style: normal;
  font-variant: normal; }

.term {
  font-family: 'Bookinsanity Bold', serif;
  font-weight: bold; }

.spell, .magic-item {
  font-family: 'Bookinsanity Italic', serif;
  font-style: italic; }

.book-title {
  font-style: italic; }

.sc {
  font-family: 'Mr Eaves Small Caps', serif;
  font-variant: small-caps;
  font-size: 20px;
  line-height: 1; }

.hang-indent {
  text-indent: -1em;
  padding-left: 1em; }

.group {
  page-break-inside: avoid; }

/*# sourceMappingURL=5e.css.map */
